.icon-arrow {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
.icon-book {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cart {
  width: 1.26em;
  height: 1em;
  fill: initial;
}
.icon-circles {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-comment {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.icon-decor {
  width: 1.54em;
  height: 1em;
  fill: #00AAEF;
}
.icon-dialog {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-dribbble {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 0.47em;
  height: 1em;
  fill: initial;
}
.icon-gp {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-graph {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-house {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-image {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 1.53em;
  height: 1em;
  fill: #8EB8C9;
}
.icon-map {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-menu {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-monitor {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-people {
  width: 1.42em;
  height: 1em;
  fill: initial;
}
.icon-pinterest {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-toggle {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
.icon-tumblr {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-view {
  width: 1.73em;
  height: 1em;
  fill: initial;
}
.icon-yt {
  width: 1.45em;
  height: 1em;
  fill: initial;
}
.icon-zoom {
  width: 1em;
  height: 1em;
  fill: initial;
}
